.home {
  height: 100%;
  color: var(--color-white);
}

.home-container {
  height: 100%;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.berer-bg {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
}

.sun {
  width: 12vw;
  position: absolute;
  top: 20px;
  left: 18%;
  z-index: 3;
}

.home-container h1 {
  font-size: 6rem;
  margin-bottom: 5%;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 700;
  z-index: 2;
}

.rounded-txt {
  border-radius: 60px;
  padding: 0 1.5%;
  border: 2px solid var(--color-yellow);
}

.center-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home-btn-container {
  display: flex;
  justify-content: center;
  width: 230px;
  border-radius: 35px;
  background-color: var(--color-yellow);
  z-index: 2;
}

.home-btn {
  position: relative;
  width: 220px;
  background-color: var(--color-yellow);
  border-radius: 30px;
  margin: 5px 2px;
  padding: 18px 25px;
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 400;
  border: 0.3px solid var(--color-dark-grey);
}

.home-btn:hover, .home-btn-container:hover {
  background-color: var(--color-yellow-hover);
}

@media (max-width: 1028px) {
  .home-container {
    padding: 0 7%;
  }

  .home-container p.top, .home-container p.bottom {
    position: absolute;
    left: 0;
    margin: 5% 0;
    font-size: 0.5rem;
    letter-spacing: 5px;
    color: var(--color-white);
    width: 100%;
    text-align: center;
  }

  .home-container .top {
    top: 0;
  }

  .home-container .bottom {
    bottom: 0;
  }

  .sun {
    width: 15vw;
    position: absolute;
    top: 167px;
    left: 2%;
  }

  .home-container h1 {
    font-size: 2.5rem;
    margin-bottom: 15%;
  }

  .home-btn {
    font-size: 0.9rem;
    border: 1px solid var(--color-dark-grey);
    color: var(--color-dark-grey);
  }
}