/* || General */

:root {
  --color-dark-grey: #1d1d1b;
  --color-yellow: #fccf00;
  --color-yellow-hover: #ffc400;
  --color-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: var(--color-dark-grey);
  height: 100%;
  font-family: 'SFProDisplay' !important;
}