/* || General */

:root {
  --color-dark-grey: #1d1d1b;
  --color-yellow: #fccf00;
  --color-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}